$black: #373737;
$lightgray: #d6d6d6;
$red: #d43c33;
$darkgray: #898989;
$lightblue: #4A90E2;
$mediumgray: #c1c1c1;
$lightbgrey: #eaeaea;
$yellow:#f5a623;
$screen: 1366;
$duration:300ms;
@function vw($px) {
    @return $px / $screen * 100vw;
}

@mixin position($position:absolute, $top:null, $left:null, $right:null, $bottom:null) {
    position: $position;
    top: $top;
    left: $left;
    right: $right;
    bottom: $bottom;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.huoui-modal {
    @include position(fixed, 0, 0, 0, 0);
    z-index: 99;
    transition: opacity $duration linear;
    user-select: none;
}

.background-black {
    background-color: rgba(0, 0, 0, 0.55);
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.vertical-fluid {
    height: 100vh;
}

.flexbox-vertical {
    display: flex;
    flex-direction: column;
}

.vertical-scroll {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.container-fluid {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.horizontal-vertical {
    display: flex;
    align-items: center;
    justify-content: center;
}

.horizontal-fluid {
    flex: 1;
    min-width: 0;
    overflow: hidden;
}

.toast-msg {
    min-width: vw(334);
    padding: vw(18);
    background-color: rgba(0, 0, 0, .75);
    border-radius: 10px;
    color: #F5A623;
    font-size: vw(22);
    overflow: hidden;
}

.border-default {
    border: 1px solid $darkgray;
}

.border-primary {
    border: 1px solid $red;
}

.color-primary {
    color: $red;
}

.wX65lRUjMC {
    background-color: #fff;
    width: vw(440);
    border-radius: 8px;
    padding: vw(26);
}

.WRsNLBkMC1 {
    font-size: vw(24);
    color: $red;
    margin: vw(14) 0;
}

.oOHQhYDaKI {
    display: flex;
    >a {
        flex: 1;
        border-radius: 20px;
        margin: 0 vw(15);
        padding: vw(8) 0;
        font-size: vw(18);
    }
}

.Asz3IRDWma {
    border: 1px solid $darkgray;
}

.FUPasI0OYU {
    border: 1px solid $red;
    color: $red;
}