$black: #373737;
$lightgray: #d6d6d6;
$red: #d43c33;
$darkgray: #898989;
$lightblue: #4A90E2;
$mediumgray: #c1c1c1;
$lightbgrey: #eaeaea;
$yellow:#f5a623;
$screen: 1366;
$duration:300ms;
@function vw($px) {
    @return $px / $screen * 100vw;
}

@mixin position($position:absolute, $top:null, $left:null, $right:null, $bottom:null) {
    position: $position;
    top: $top;
    left: $left;
    right: $right;
    bottom: $bottom;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

:global {
    @import './global.scss';
}

.hello {
    font-size: 20px;
}

.wX65lRUjMC {
    background-color: #fff;
    width: vw(440);
    border-radius: 8px;
    padding: vw(26);
}

.WRsNLBkMC1 {
    font-size: vw(24);
    color: $red;
    margin: vw(14) 0;
}

.oOHQhYDaKI {
    display: flex;
    >a {
        flex: 1;
        border-radius: 20px;
        margin: 0 vw(15);
        padding: vw(8) 0;
        font-size: vw(18);
    }
}

.Asz3IRDWma {
    border: 1px solid $darkgray;
}

.FUPasI0OYU {
    border: 1px solid $red;
    color: $red;
}