.wX65lRUjMC {
    background-color: #fff;
    width: vw(440);
    border-radius: 8px;
    padding: vw(26);
}

.WRsNLBkMC1 {
    font-size: vw(24);
    color: $red;
    margin: vw(14) 0;
}

.oOHQhYDaKI {
    display: flex;
    >a {
        flex: 1;
        border-radius: 20px;
        margin: 0 vw(15);
        padding: vw(8) 0;
        font-size: vw(18);
    }
}

.Asz3IRDWma {
    border: 1px solid $darkgray;
}

.FUPasI0OYU {
    border: 1px solid $red;
    color: $red;
}